.button {
  cursor: pointer;
  border: none;
  padding: 0.8rem 1.4rem;
  outline: none;
  border-radius: 1rem;
  transition: all ease 0.2s;

  &.primary-btn {
    background-color: rgb(243, 35, 42);
    color: whitesmoke;
  }
}

.button:active {
  scale: 0.98;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
