main {
  min-height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #525252;

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: #f0f0f0;
    padding-block: 2rem;
    padding-inline: 2.5rem;
    border-radius: 1rem;

    h1,
    p {
      color: rgb(37, 37, 37);
    }

    form {
      height: fit-content;
      min-width: 400px;
      display: flex;
      flex-direction: column;
      gap: 1.4rem;

      input,
      button {
        padding-inline: 1.5rem;
        padding-block: 1rem;
        border-radius: 1rem;
        outline: none;
        border: none;
      }

      input {
        background-color: #d6d6d6;
      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 1000px #d6d6d6 inset !important;
        -webkit-text-fill-color: black !important;
        transition: background-color 5000s ease-in-out 0s;
      }

      button {
        background-color: rgb(243, 35, 42);
        color: whitesmoke;
        cursor: pointer;
      }
    }

    .toggleAuthForm {
      text-decoration: none;
      color: rgb(243, 35, 42);
      cursor: pointer;
    }
  }
}
